<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>CompareSpex - Home</title>
</head>
<body>
    <%- include('partials/navbar') %> <!-- Ensure your server-side template supports this -->
    <main class="container-fluid p-4">
      <section>
        <h2>Top Compared</h2>
        <div>
          
        </div>
      </section>
      <section>
        <h2>Highest Rated</h2>
        <div>

        </div>
      </section>
      <section>
        <h2>Most Recent </h2>
        <div>

        </div>
      </section>
    </main>
      <%- include('partials/cookies') %>
</body>
</html>