<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>CompareSpex - Search</title>
      <style>
        section {
          display: flex;
        }
        section > a {
          
        }
      </style>
</head>
<body>
    <%- include('partials/navbar') %> <!-- Ensure your server-side template supports this -->
    <main class="container-fluid p-4">
      <h1 style="text-align: center;">More</h1>
      <h2>Feedback</h2>
      <section>
        <a href="/request">
          
        </a>
      </section>
      <h2>Settings</h2>
      <h2>Legal</h2>
    </main>
</body>
</html>