<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>CompareSpex - Profile</title>
</head>
<body>
    <%- include('partials/navbar') %> <!-- Ensure your server-side template supports this -->
    <main class="container-fluid p-4">
      <h1>Profile</h1>
      <p>dont ask me what to put here</p>
    </main>
</body>
</html>