<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>CompareSpex - Device Request</title>
</head>
  <body>
    <%- include('partials/navbar') %>
      <div style="height: calc(100vh - 56px);">
        <div data-tf-live="01HSH20J673JH7JW9T8RJWS4BG"></div>
        <a href="https://docs.google.com/spreadsheets/d/1e_sbN5UOs5az1YrMJauaqwxwJo6tn3fxOUsT3rssnE0/edit?usp=sharing" style="margin-left: 4em;">View Submitted Devices</a>
      </div>
      <script src="//embed.typeform.com/next/embed.js"></script>
      
  <script src="/js/script.js"></script>
  </body>
</html>